name: xutils_pack
description: "XUtils is a Dart/Flutter package that provides a collection of extensions for common data types such as DateTime, double, int, and String."
version: 1.0.4
repository: https://github.com/anonimeact/xutils.git/

environment:
  sdk: ^3.10.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.20.2

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter packages.
flutter: null

platforms:
  ? android
  ? ios
  ? linux
  ? macos
  ? web
  ? windows
